body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
  }
  
  h1 {
    color: purple;
  }
  
  h2 {
    color: orange;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="file"] {
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #ff6600; /* Slightly darker orange on hover */
  }
  
  #results {
    margin-top: 20px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  