*
{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: rgb(43, 29, 29);
    font-family: 'Roboto', sans-serif;
 
}

.container
{
    background: linear-gradient(135deg, #00feba,#5b548a);

    width: 350px;
 height: auto;
    border-radius: 20px;
}

.searchbox
{
    display: flex;
    margin: 20px 60px;
   gap: 20px;
    align-items: center;
}
.searchbox input
{
    border: none;
    outline: none;
    width: 450px !important;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 15px;


}
.searchbox i 
{
    background-color: white;
    padding: 8px 8px;
    font-size: 17px;
    border-radius: 20px;
}

.body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.body_img 
{
   width: 140px;
}

.body h2 
{
    font-size: 35px;
    color: white;
    font-weight: bold;

}

.body h3 
{
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.detail
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
padding-bottom: 50px;
}


.col{
    display: flex;
    align-items: center;
    gap: 10px;
}

.col i 
{
    font-size: 25px;
    color: rgb(50, 45, 45);
    
}


.col h5 
{
    font-size: 18px;
    color: white;
   
}
.col p 
{
    font-size: 17px;
    color: white;
}


.detail
{
    display: none;
}
.body
{
    display: none;
}


