<%- include('header') %>
 <div class="container">
  <div class='box' id='heading'>
   <h1>Weather Signup</h1>
  </div>
   <div class="box">
    <form action="/" method="post">
      <div class="item">
        <input type="text" name="fname" id="fname" placeholder="First Name">
      </div>
      <div class="item">
        <input type="text" name="lname" id="lname" placeholder="Last Name">
      </div>
      <div class="item">
        <input type="email" name="email" id="email" placeholder="Email Address">
      </div>
      <div class="item">
        <input type="text" name="city" id="city" placeholder="Enter City Name">
      </div>
      <div class="item">
        <button type="submit" name="submit">Submit</button>
      </div>
    </form>
   </div>
 </div>
 <%- include('footer') %>
