body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#weather-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}

button:hover {
    background-color: #0056b3;
}

#weather-info {
    margin-top: 20px;
}

body{
    background-image: url('/weatherapi/download.gif'); 
    background-size:  cover;                
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: rgba(224, 215, 215, 0.9);
}
h1{
    color: #007BFF;
}

#weather-info{
    color: aliceblue;
}