/* Style for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Style for the header */
h2 {
    color: #333;
}

/* Style for the file input */


/* Style for the Submit button */
#submitBtn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

#submitBtn:hover {
    background-color: #0056b3;
}

/* Style for the output container */
#output {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Style for the results section */
#output p {
    margin: 10px 0;
    font-size: 18px;
}

/* Style for the word frequency list */
#wordFrequencyList {
    list-style-type: none;
    padding: 0;
}

#wordFrequencyList li {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}